target/
node_modules/
dist/
# Cargo.lock
.env
.env.*
!.env.example
.env.local
*.log
scripts/
# sdk/ts/node_modules/
# sdk/ts/dist/
# wallet-adapter/node_modules/
test-wallets/

.DS_Store

# VitePress Docs
# docs-site/node_modules/
# docs-site/.vitepress/dist/
docs-site/.vitepress/cache/
