{
  "openapi": "3.1.0",
  "info": {
    "title": "pr402 Facilitator API",
    "version": "1.0.0",
    "description": "x402 v2 facilitator for Solana: discovery, optional unsigned tx build, verify, and settle.\n\n**Who uses this API:**\n- **Seller / resource provider agents** — onboard UniversalSettle vaults, preview PDAs, optional signed registry (`/onboard/challenge` + `POST /onboard`), publish correct **`payTo`** in 402 (`agent-integration.md` → Seller agents).\n- **Buyer / payer agents** — match `accepts[]`, build unsigned proofs, sign, `POST /verify` + `POST /settle` (`agent-integration.md` → Buyer agents).\n\n**`payTo` (pr402):** Settlement goes through **UniversalSettle** (exact) and/or **SLA-Escrow**. `payTo` must be the **on-chain PDA** for that scheme (vault rail / escrow account)—not a bare seller wallet for proofs. The **`POST /build-sla-escrow-payment-tx`** response **`verifyBodyTemplate`** carries the canonical Escrow PDA in `payTo`.\n\n**Typical buyer flow:** (1) `GET /supported` or `GET /capabilities`. (2) `POST /build-exact-payment-tx` or `POST /build-sla-escrow-payment-tx`. (3) Sign locally; facilitator may fill fee-payer at settle when applicable. (4) Swap signed tx into `verifyBodyTemplate`; optional `correlationId`. (5) `POST /verify` then `POST /settle` with the **same** body.\n\n**CORS:** `OPTIONS` on `/api/v1/facilitator/*` returns 204; JSON uses `Access-Control-Allow-Origin: *`.\n\nHuman runbook: `/agent-integration.md`.\n",
    "license": { "name": "Apache-2.0" }
  },
  "externalDocs": {
    "description": "x402 HTTP payment standard (v2)",
    "url": "https://github.com/coinbase/x402/blob/main/specs/x402-specification-v2.md"
  },
  "servers": [
    {
      "url": "https://preview.agent.pay402.me",
      "description": "Example deployment — substitute your facilitator base URL (no trailing slash)."
    }
  ],
  "paths": {
    "/api/v1/facilitator/health": {
      "get": {
        "summary": "Health check",
        "description": "Liveness and dependency snapshot: `status`, `schemaVersion`, `database` (connected | disabled | error), `solanaRpc`, `solanaSlot`, `environment`, `solanaNetwork`. Not the same payload as `/supported`.",
        "operationId": "facilitatorHealth",
        "responses": {
          "200": {
            "description": "Supported payment kinds (same as GET /supported)",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "500": {
            "description": "Facilitator initialization or scheme error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/supported": {
      "get": {
        "summary": "Supported payment kinds (x402 discovery)",
        "description": "Returns active schemes (`kinds[]`), extensions, and signer hints for the configured chain.",
        "operationId": "facilitatorSupported",
        "responses": {
          "200": {
            "description": "SupportedResponse",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/capabilities": {
      "get": {
        "summary": "Discovery bundle",
        "description": "JSON with `schemaVersion`, `x402Version`, `chainId`, `feePayer`, embedded `supported`, feature flags, `httpEndpoints`, `openApi`, and x402 spec link.",
        "operationId": "facilitatorCapabilities",
        "responses": {
          "200": {
            "description": "Capabilities object",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/verify": {
      "post": {
        "summary": "Verify payment payload",
        "description": "Validates the x402 v2 proof against `paymentRequirements`. Optional `X-Correlation-ID` or body `correlationId` for DB audit linking.",
        "operationId": "facilitatorVerify",
        "parameters": [
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/X402V2VerifySettleBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verify success (`valid`, `payer`, optional `correlationId`)",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "400": {
            "description": "Invalid request or verification failure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/settle": {
      "post": {
        "summary": "Settle payment",
        "description": "Same JSON shape as `/verify`. Submits or confirms on-chain settlement (scheme-specific). Reuse the **same** body and correlation id as verify. Idempotent: if the transaction is already on-chain, returns success. Rebuild unsigned tx (`retry build` error) if signing or retry is delayed and blockhash expires.",
        "operationId": "facilitatorSettle",
        "parameters": [
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/X402V2VerifySettleBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settle success",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "400": {
            "description": "Invalid request or settlement failure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "502": {
            "description": "Upstream / build / RPC failure (some routes)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/build-exact-payment-tx": {
      "post": {
        "summary": "Build unsigned exact (UniversalSettle) payment tx",
        "description": "Returns base64 bincode `VersionedTransaction` (unsigned) and `verifyBodyTemplate`. Payer signs token authority; facilitator is fee payer at `/settle` when `feePayer` in extra matches deployment.",
        "operationId": "buildExactPaymentTx",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BuildExactPaymentTxRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned tx + template",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BuildPaymentTxResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request or unsupported mint",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "501": {
            "description": "Not implemented",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "502": {
            "description": "RPC error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/build-sla-escrow-payment-tx": {
      "post": {
        "summary": "Build unsigned SLA-Escrow FundPayment tx",
        "description": "Default: facilitator pays Solana fees; buyer partially signs. Set `buyerPaysTransactionFees: true` for CLI-shaped single-signer shell. Response `verifyBodyTemplate` sets **`payTo`** to the canonical **Escrow PDA** (mint + bank) so it matches facilitator verification.",
        "operationId": "buildSlaEscrowPaymentTx",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BuildSlaEscrowPaymentTxRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned tx + template + paymentUid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BuildPaymentTxResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "501": {
            "description": "Not implemented",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          },
          "502": {
            "description": "RPC error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitatorErrorBody" }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilitator/onboard/challenge": {
      "get": {
        "summary": "Onboard signing challenge",
        "description": "Returns a message to sign for proof-of-control. Requires `PR402_ONBOARD_HMAC_SECRET` on server.",
        "operationId": "facilitatorOnboardChallenge",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "description": "Seller wallet pubkey (base58)" }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OnboardChallengeResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "503": { "description": "Onboard not configured" }
        }
      }
    },
    "/api/v1/facilitator/onboard/build-tx": {
      "get": {
        "summary": "Build agent-native onboarding tx",
        "description": "Returns base64 bincode `VersionedTransaction` (unsigned) for UniversalSettle SplitVault creation. Sign and send to receive the 95 bps institutional discount.",
        "operationId": "facilitatorOnboardBuildTx",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsigned onboarding tx",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BuildPaymentTxResponse" }
              }
            }
          },
          "400": { "description": "Missing wallet" },
          "500": { "description": "Error" }
        }
      }
    },
    "/api/v1/facilitator/onboard": {
      "get": {
        "summary": "Onboard preview (status & incentives)",
        "description": "Public vault/sol_storage preview for UniversalSettle. Clearly delivers fee rules and ROI status for proactive sellers.",
        "operationId": "facilitatorOnboardPreview",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OnboardResponse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OnboardResponse" }
              }
            }
          },
          "400": { "description": "Missing wallet" },
          "500": { "description": "Error" }
        }
      },
      "post": {
        "summary": "Submit signed onboard proof",
        "description": "Body: wallet, message, signature (from challenge flow). Persists verified resource provider vaults when `DATABASE_URL` is set.",
        "operationId": "facilitatorOnboardSubmit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OnboardSubmitBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OnboardResponse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OnboardResponse" }
              }
            }
          },
          "400": { "description": "Invalid JSON or body" },
          "401": { "description": "Signature verification failed" },
          "503": { "description": "Onboard secret not configured" },
          "500": { "description": "Error" }
        }
      }
    },
    "/api/v1/facilitator/discovery": {
      "get": {
        "summary": "Lightweight scheme discovery",
        "description": "Programmatic discovery of `payTo` address and required institutional `extra` metadata for a specific scheme and asset. Much lighter than `/onboard`.",
        "operationId": "facilitatorDiscovery",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "description": "Seller wallet pubkey (base58)" }
          },
          {
            "name": "scheme",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "exact", "description": "Payment scheme (e.g. exact or sla-escrow)" }
          },
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "description": "Optional mint address for token-specific discovery" }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheme discovery information",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchemeOnboardInfo" }
              }
            }
          },
          "400": { "description": "Missing parameters" },
          "500": { "description": "Discovery failed" }
        }
      }
    },
    "/api/v1/facilitator/vault-snapshot": {
      "get": {
        "summary": "UniversalSettle vault snapshot (read-only RPC)",
        "description": "Query vault balances for a seller wallet. Requires UniversalSettle configured on deployment.",
        "operationId": "facilitatorVaultSnapshot",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "spl_mint",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "spl_token_program",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "description": "Token-2022 program id when applicable" }
          },
          {
            "name": "spl_balance_scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["vault_ata", "owner_wallet"],
              "default": "vault_ata",
              "description": "Use owner_wallet for getTokenAccountsByOwner-style SPL balance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VaultSnapshotResponse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VaultSnapshotResponse" }
              }
            }
          },
          "400": { "description": "Bad request or program not configured" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonError": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      },
      "FacilitatorErrorBody": {
        "type": "object",
        "description": "Typical error JSON from facilitator (shape includes error, message, code, and correlationId)",
        "required": ["error", "message", "code"],
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "code": { "type": "string", "description": "Machine-readable error enum (e.g. BAD_REQUEST, INTERNAL_SERVER_ERROR)" },
          "correlationId": { "type": "string" }
        },
        "additionalProperties": true
      },
      "X402V2VerifySettleBody": {
        "type": "object",
        "required": ["x402Version", "paymentPayload", "paymentRequirements"],
        "properties": {
          "x402Version": { "type": "integer", "const": 2 },
          "paymentPayload": { "type": "object", "additionalProperties": true },
          "paymentRequirements": { "type": "object", "additionalProperties": true },
          "correlationId": { "type": "string" }
        },
        "additionalProperties": true
      },
      "ResourceRef": {
        "type": "object",
        "description": "x402 resource block",
        "properties": {
          "url": { "type": "string" },
          "description": { "type": "string" },
          "mimeType": { "type": "string" }
        },
        "additionalProperties": true
      },
      "BuildExactPaymentTxRequest": {
        "type": "object",
        "required": ["payer", "accepted", "resource"],
        "properties": {
          "payer": { "type": "string", "description": "Buyer pubkey (base58)" },
          "accepted": {
            "type": "object",
            "description": "One accepts[] line; scheme must be exact or v2:solana:exact; must match deployment network"
          },
          "resource": { "$ref": "#/components/schemas/ResourceRef" },
          "skipSourceBalanceCheck": { "type": "boolean", "default": false }
        },
        "additionalProperties": false
      },
      "BuildSlaEscrowPaymentTxRequest": {
        "type": "object",
        "required": ["payer", "accepted", "resource", "slaHash", "oracleAuthority"],
        "properties": {
          "payer": { "type": "string" },
          "accepted": { "type": "object", "description": "accepts[] line with scheme sla-escrow or v2:solana:sla-escrow" },
          "resource": { "$ref": "#/components/schemas/ResourceRef" },
          "slaHash": { "type": "string", "description": "64 hex chars (32 bytes)" },
          "oracleAuthority": { "type": "string", "description": "Must appear in accepted.extra.oracleAuthorities" },
          "paymentUid": { "type": "string" },
          "skipSourceBalanceCheck": { "type": "boolean", "default": false },
          "buyerPaysTransactionFees": { "type": "boolean", "default": false }
        },
        "additionalProperties": false
      },
      "BuildPaymentTxResponse": {
        "type": "object",
        "required": [
          "x402Version",
          "transaction",
          "recentBlockhash",
          "feePayer",
          "payer",
          "verifyBodyTemplate"
        ],
        "properties": {
          "x402Version": { "type": "integer" },
          "transaction": {
            "type": "string",
            "description": "base64(bincode VersionedTransaction), unsigned"
          },
          "recentBlockhash": { "type": "string" },
          "feePayer": { "type": "string" },
          "payer": { "type": "string" },
          "paymentUid": { "type": "string", "description": "Present for sla-escrow build" },
          "verifyBodyTemplate": {
            "type": "object",
            "description": "Replace paymentPayload.payload.transaction after signing"
          },
          "notes": { "type": "array", "items": { "type": "string" } }
        },
        "additionalProperties": true
      },
      "OnboardChallengeResponse": {
        "type": "object",
        "properties": {
          "wallet": { "type": "string" },
          "message": { "type": "string" },
          "expiresUnix": { "type": "integer" },
          "ttlSeconds": { "type": "integer" }
        }
      },
      "OnboardSubmitBody": {
        "type": "object",
        "required": ["wallet", "message", "signature"],
        "properties": {
          "wallet": { "type": "string" },
          "message": { "type": "string" },
          "signature": { "type": "string" }
        }
      },
      "ProvisioningStatus": {
        "type": "object",
        "required": ["asset", "recovered", "total"],
        "properties": {
          "asset": { "type": "string", "example": "SOL" },
          "recovered": { "type": "string", "example": "5000000" },
          "total": { "type": "string", "example": "10000000" }
        }
      },
      "SchemeOnboardInfo": {
        "type": "object",
        "required": ["label", "role", "vaultPda", "solStoragePda", "feeBps", "status", "isSovereign"],
        "properties": {
          "label": { "type": "string" },
          "role": { "type": "string" },
          "vaultPda": { "type": "string" },
          "solStoragePda": { "type": "string" },
          "tokenPda": { "type": "string", "nullable": true },
          "merchantWallet": { "type": "string", "description": "Authoritative merchant identity (base58)", "nullable": true },
          "feeBps": { "type": "string", "description": "Effective fee in basis points" },
          "status": { "type": "string", "example": "Sovereign" },
          "isSovereign": { "type": "boolean", "description": "Has 5 bps institutional discount" },
          "provisioningStatus": { "$ref": "#/components/schemas/ProvisioningStatus", "nullable": true }
        }
      },
      "OnboardResponse": {
        "type": "object",
        "required": ["wallet", "facilitator", "schemes"],
        "properties": {
          "wallet": { "type": "string" },
          "facilitator": { "type": "string" },
          "schemes": {
            "type": "object",
            "additionalProperties": { "$ref": "#/components/schemas/SchemeOnboardInfo" }
          }
        }
      },
      "VaultSnapshotResponse": {
        "type": "object",
        "required": ["wallet", "vaultPda"],
        "properties": {
          "wallet": { "type": "string" },
          "vaultPda": { "type": "string" },
          "solBalance": { "type": "string" },
          "splBalance": { "type": "string", "nullable": true },
          "isProvisioned": { "type": "boolean" }
        }
      },
      "UniversalSettleExtra": {
        "type": "object",
        "properties": {
          "programId": { "type": "string" },
          "configAddress": { "type": "string" },
          "feeBps": { "type": "string" },
          "merchantWallet": { "type": "string", "description": "IDENTITY: Required for PDA re-derivation" }
        }
      },
      "SLAEscrowExtra": {
        "type": "object",
        "properties": {
          "escrowProgramId": { "type": "string" },
          "bankAddress": { "type": "string" },
          "configAddress": { "type": "string" },
          "oracleAuthorities": { "type": "array", "items": { "type": "string" } },
          "merchantWallet": { "type": "string", "description": "IDENTITY: Original merchant pubkey" }
        }
      }
    }
  }
}
